
        <div class="form-group">
          <label class="col-sm-2 col-sm-2 control-label">Ονομα</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" ng-model='contact.contact.fName'>
          </div>
          <label class="col-sm-2 col-sm-2 control-label">Επωνυμο</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" ng-model='contact.contact.lName'>
          </div>
          <label class="col-sm-2 col-sm-2 control-label">Διευθυνση</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" ng-model='contact.contact.address'>
          </div>
          <label class="col-sm-2 col-sm-2 control-label">Πολη</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" ng-model='contact.contact.city'>
          </div>
          <label class="col-sm-2 col-sm-2 control-label">Τ.Κ.</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" ng-model='contact.contact.postcode'>
          </div>
          <label class="col-sm-2 col-sm-2 control-label">Τηλεφωνο</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" ng-model='contact.contact.tel'>
          </div>
          <label class="col-sm-2 col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" ng-model='contact.contact.email'>
          </div>
        </div>
        <button type="submit" class="btn btn-theme">Αποθήκευση</button>